gunicorn
fastapi
uvicorn
python-multipart
opencv-python
mediapipe
librosa
numpy
openai-whisper
praat-parselmouth
reportlab
pymongo
certifi
cloudinary

fastapi
uvicorn
gunicorn
python-multipart
numpy
librosa
opencv-python-headless
reportlab
